<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Happy_Path">
<listeners>
<listener class ="com.automation.ItestListenersClass"/>
</listeners>
  <test name="Normal_Flow">
    <classes>
      <class name ="com.automation.ClientsPF">
      <methods>
       <include name="NormalCaseActivation"/>
      </methods>
      </class>

    </classes>
  </test>
</suite>
