<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Happy_Path">
<!-- Listeners temporarily commented out due to Java 22 compatibility issues -->
<!--
<listeners>
<listener class ="com.automation.ItestListenersClass"/>
</listeners>
-->
  <test name="Normal_Flow">
    <classes>
      <class name ="com.automation.ClientsPF">
      <methods>
       <include name="NormalCaseActivation"/>
       <include name="get_CaseId"/>
      </methods>
      </class>
      <class name = "com.automation.AdminPF">
      <methods>
      <include name = "Rad_case_Assignment"/>
      </class>
      <class name = "com.automation.RadReporting">
      <methods>
      <include name = "rad_report_submission"/>
      </methods>
      </class> 
      <class name = "com.automation.AdminPF">
       <methods>
      <include name = "OQC_Case_Assignment"/> 
      </methods>
      </class>
      <class name = "com.automation.OQC_Reporting">
      <methods>
      <include name = "OQC_Submit"/>
      </methods>
      </class>
    </classes>
  </test>
</suite>
